.left_navigation{
	background-color: #000033;
	height: 900px;
	width: 15%;
	color: white;
	font-size: 20px;
	font-family: Harrington;
}

.myIframe {
     position: relative;
     padding-bottom: 65.25%;
     padding-top: 30px;
     height: 0;
     overflow: auto; 
     -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
     border: solid black 1px;
} 
.myIframe iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
.parent_start{
	width: 100%;
	height: 900px;
	background-color: red;
}
.total_revenue{
	height: 100px;
	width: 100px;
	background-color: black;
	float: left;
	margin-left: 300px;
	padding-top: 150px;
}
.Sales_Analytics{
	height: 100px;
	width: 100px;
	background-color: black;
	float: left;
}
.statistics{
	height: 100px;
	width: 100px;
	background-color: black;
	margin-left: 55%;
	margin-top: -100px;
	float: left
}
.daily_sales{
	height: 100px;
	width: 100px;
	background-color: black;
	margin-left: 70%;
	margin-top: -100px;
	float: right;	
}
.daily_sales_graph{
	height: 300px;

}